body {
  font-family: Arial, sans-serif;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
}

input {
    width: 95%;
    padding: 8px;
}
.error-message {
    color: red;
    font-size: 0.9em;
}
small {
    font-size: 0.8em;
    color: gray;
}
button {
    width: 100%;
    padding: 10px;
    background: dodgerblue;
    color: white;
    border: none;
}

#successMessage {
    text-align: center;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}